<footer class="footer">
  <div class="container">
    <div class="small text-center">
      <p>
        Maintained by the
        <a href="http://blockverse.io" target="_blank">Blockverse team</a>  
      </p>

      <p>
        Code licensed under
        <a href="http://peatio.mit-license.org/" target="_blank">MIT</a>, documentation under
        <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
      </p>

      <p>
        <ul class="list-inline">
          <li><span>Currently v<%= Peatio::VERSION %></span></li>
          <li class="list-inline-item"><a href="http://blockverse.io" target="_blank">About</a></li>
          <li class="list-inline-item"><a href="https://github.com/ZohairZaman/blockverse-docs" target="_blank">API Documentation</a></li>
          <li class="list-inline-item"><a href="https://github.com/ZohairZaman/blockverse-docs/blob/master/test-crypto.md" target="_blank">Testnet Documentation</a></li>
        </ul>
      </p>
    </div>
    <div class="clear-fix"></div>
  </div>
</footer>
