<h1> About </h1>

<p1> Blockverse is developing a crypto-currency exchange platform with institutional infrastructure </p1>

<p2> Our Team comprises of Mishul Gupta, Zohair Zaman & Larry Tang - excelling students at U of I </p2>
