<h2 class="panel-title">{{"funds.withdraw_coin.title" | t:currencyTranslationLocals}}</h2>
<p class="help-block">
    Please fill in the deposit address and the amount you want to withdraw. Please note that you will not be able to withdraw any of the initial starting balances given to you (300). You will be able to withdraw actual test currency from testnets, which you can obtain by following the outlined steps in the deposit tab.     
</p>

<ng-include src="'/templates/funds/_coin_withdraw.html'"></ng-include>
